html {
    font-size: 20px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту  */
    font-family: 'Didact Gothic', sans-serif;
}

#h1a {
    margin: auto;
    padding: 20px 0;
    color: rgba(0, 32, 76, 0.65);
    text-shadow: 3px 3px 1px rgba(0, 121, 76, 0.55);
    text-align: left;
}

#h1m {
    margin: auto;
    padding: 20px 0;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 1px rgba(59, 157, 29, 0.98);
    text-align: center;

}

#h2m {
    margin: auto;
    padding: 20px 0;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 1px rgba(59, 157, 29, 0.98);
    text-align: center;
}

#ta {
    position: absolute; /* Фиксированное положение */
    left: 40px;
    bottom: 120px; /* Левый нижний угол */
    color: #007957;
    width: 20%;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: left;

}

#contm {
    position: fixed; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: rgba(55, 255, 204, 0.72); /* Цвет фона */
    text-align: center;
    width: 100%; /* Ширина слоя */

}

.list li {
    list-style-type: none; /* Прячем исходные маркеры */
}

.list li:before {
    color: #20a01d; /* Цвет маркера */
    content: "№ "; /* Сам маркер */
    padding-right: 10px; /* Расстояние от маркера до текста */
}

#u {

    color: rgb(239, 144, 0);
}

#ab {

    color: #007963;
}

#banan {
    width: 400px;
    height: 300px;

}

#banans {

    width: 700px;
    height: 500px;
}

#p3 {

    color: #007957;

    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: left;
    margin-left: auto;
    padding: 30px 70px 60px 0px;
}

#h3k {
    text-align: left;
    padding: 60px 0px 0px 0px;

}

#p4 {
    /* Фиксированное положение */
    color: #007957;
    padding: 30px 70px 60px 0px;
    /* Фиксированное положение */
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;

}

#hk {
    text-align: center;
}

.rightpic {
    float: right; /* Выравнивание по правому краю */
    margin: 0px 0px 10px 10px; /* Отступы вокруг фотографии */
}

.leftpic {
    float: left; /* Выравнивание по правому краю */
    margin: 0px 50px 10px 50px; /* Отступы вокруг фотографии */
}

#logo {
    width: 90px;
    height: 90px;
}

[class*='col-'] {
  float: left;
}

.col-1-3 {
  width: 33.33%;
}

grid:after {
  content: "";
  display: table;
  clear: both;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 20px;
  padding-bottom: 50px;
}



#weather {
    text-align: center;
}

.choose {

    width: 400px;
    height: 150px;
    float: left;
}

.choose {
   padding-left: 20px;
   padding-top: 20px;

}


/*
#p3 {
	text-align: center;
}

#kit {
	width: 480px;
	height: 360px;
	border: 1px solid black;
	display: block;
	margin: 0 auto;
	
}
body {
  width: 800px;
  margin: 0 auto;
  background-color: #FF7F50;
  padding: 0px 10px 20px 20px;
  border: 5px solid black;
}
*/
/*
}
body {
  width: 800px;
  margin: 0 auto;
  background-color: #FF7F50;
  padding: 0px 10px 20px 20px;
  border: 5px solid black;
}
*/