{% load static %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

    <title>
        {% block page_title %}{% endblock %}
    </title>
</head>

<body>
    <section>
        {% block page_content %}{% endblock %}
        <ul id="contm">
    <li>
        <a style="color:rgba(59, 157, 29, 0.98)" href="{% url 'main:index' %}">Главная </a>
        <a style="color:rgba(59, 157, 29, 0.98)" href="{% url 'main:contacts' %}">Контакты </a>
        <a style="color:rgba(59, 157, 29, 0.98)" href="{% url 'main:about' %}"> О проекте </a>
        <a style="color:rgba(59, 157, 29, 0.98)" href="{% url 'products:index' %}"> Продукты </a>


    </li>
        </ul>
    </section>


</body>

</html>