{% extends 'master.html' %}
{% block page_title %}
Главная страница
{% endblock %}

{% block page_content %}
<h1 id="h1m"> Это главная страница </h1>
<h2 id="h2m">Данная страница выполнена в стиле минимализм.!</h2>
<style>
    html { height: 100%; }
    body { background: url(/static/img/main.png) no-repeat;
         background-size: cover;
  }
</style>
{% if is_active %}
<h3>
    {{ username }}
</h3>
{% else %}
<p id="u">
    User is not active
</p>

{% endif %}
{% endblock %}























