{% extends 'master.html' %}
{% load static %}
{% block page_title %}
    Погода
{% endblock %}
{% block page_content %}
    <h1 id="weather">Погода в Москве </h1>


    <div class="grid">
        <div class="choose">
            <p>Выбор времени </p>
            <form action="" method="get" name="send">

                От: {{ form.from_ }} до: {{ form.to_ }}

                <p><input type="submit" value="Отправить"></p>

                <p><input type="submit" value="Обновить" name="refresh"></p>

            </form>

        </div>
        {% for itm in погода %}

            <div class="col-1-3">
                <p><img id="logo" src="http://openweathermap.org/img/w/{{ itm.logo }}.png"></p>
                <p> {{ itm.data_time }}  </p>
                <p> Т мин: {{ itm.Tmin }} °C &nbsp;&nbsp; Т макс: {{ itm.Tmax }} °C </p>
                <p> Ветер: {{ itm.Wind }} м/c </p>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}