{% extends 'master.html' %}
{% block page_title %}
Продукты
{% endblock %}

{% block page_content %}

    {% if object %}
        {% if object == "kiwi" %}
        <h1 id="hk">Киви</h1>

      <p id="p3"><img id="kiwi" src="{% static 'img/kiwi.jpg' %}" alt="Киви" class="leftpic">
          Ки́ви — название плодов культурных сортов растений рода Актини́дия, принадлежащих к видам Актини́дия кита́йская (лат. Actinidia chinensis)
          или Актинидия деликатесная (лат. Actinidia deliciosa).
          Сами растения представляют собой крупные древовидные лианы родом из Китая, поэтому киви иногда называют
          «китайским крыжовником». </p>
       <h3 id="h3k">История селекции киви</h3>


       <p id="p4"><img id="kiwi-a" src="/static/img/adler.jpg" alt="Киви в адлере" width="700" height="500" class="rightpic">
Дикорастущая актинидия имела массу плода всего 30 граммов и была привезена в Новую Зеландию в начале XX века. Культурная крупноплодная актинидия китайская была выведена в Новой Зеландии; она отличается от исходного вида не только многократно увеличившейся массой плода (100 граммов и более), но и лучшими вкусовыми качествами.

Сейчас киви выращивают во многих странах с субтропическим климатом, особенно широко — в Италии, Новой Зеландии, Чили, Греции. Оттуда сочные целебные плоды с нежно-зелёной вкусной мякотью экспортируются во все страны мира. Плоды киви содержат большое количество витамина С и другие биологически активные вещества.

В России опытные плантации киви имеются на черноморском побережье Краснодарского края и на юге Дагестана. На Украине в Закарпатской области селекционером Генрихом Валентиновичем Стратоном выведен новый морозостойкий сорт актинидии китайской, который зарегистрирован в реестре Государственной ветеринарной и фитосанитарной службой Украины под названием «Карпат Стратона Валентайн»</p>
    {% endif %}
    {% else %}
    Product does not exists
    {% endif %}

{% endblock %}
